{% extends 'main/layout.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
        <br><h1 class="main">О нас:</h1><br>
        <div class="content"><br>
                <p class="about">О нас:всякий текст тут </p><br>
                <p class="about">Контактный телефон: </p><br>
                <p class="about">E-mail: <a class="main" href="mailto:Kwaijx@yandex.ru">Kwaijx@yandex.ru</a></p><br>
                <button class="test" onclick="myFunction()">Нажми на меня</button><br><br>
        </div>
{% endblock %}