{% extends 'main/layout.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <br><h1 class="main">Техника:</h1><br>
    {% for el in page_obj %}
        <div class="content">
            <h1 class="name">{{ el.title }}</h1>
            <img class="content" src="{{ el.image.url }}">
            <p class="content">{{ el.full_text|truncatewords:10 }}</p><br>
            <a class="content" href="{{ el.get_absolute_url }}"><b>"Просмотреть"</b></a><br>
        </div><br>
    {% endfor %}
{% endblock %}